[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/beefdeadbeef/libopencm3.git
[submodule "printf"]
	path = printf
	url = https://github.com/mpaland/printf.git
[submodule "rtt"]
	path = rtt
	url = https://github.com/SEGGERMicro/RTT.git
[submodule "bugurtos"]
	path = bgrt
	url = https://github.com/beefdeadbeef/bugurtos.git
